body {
  padding: 0;
  margin: 0;
}

.row {
  background-color: #F0E7E5;
  padding-left: 20px;
}


ul {
  margin-top: 20px
}
.right {
  text-align: right;
}
img {
  width: 150px;
  float: left;
}
.first {
  width: 150px;
  float: right;
}
